body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100Vh;
}

@font-face{
    font-family: Mainstay;
    src:url(fonts/mainstay/Mainstay.ttf)
}
@font-face{
    font-family: Montserrat;
    src:url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}
@font-face {
    font-family: Sinethar;
    src: url(fonts/sinethar/Sinethar.otf);
}

#filler_nav{
    width: 100%;
    height: 120px;
    background-color: white;
}
/* Top Banner */
.top-banner {
    
    background-color: #e53e3e;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1001;
}

/* Navigation */
nav {
    font-family: 'Poppins';

    background-color: #FA9BBF;  
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    flex: 1;
    display: flex;
    margin-top: 5px;
}

.logo img {
    height: 55px;     
    width: auto;      
}

.nav-links {
    display: flex;
    gap: 45px;
    flex: 1;
    justify-content: center;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;      
}

nav a:hover {
    color: #C90616;                   
    transform: translateY(-1px) scale(1.03);
    transition: transform 260ms cubic-bezier(.2,.8,.2,1), color 240ms ease;
}

.header-icons {
    display: flex;
    gap: 25px;
    color: white;
    flex: 1;
    justify-content: flex-end;
}
header-icons a:hover {
    color: #C90616;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#squiggle_wrapper{

    height: auto;
    width: 100%;
    position: relative;
}
main{
    width: 100%;
    display: flex;
    padding-top: 30px; 
    box-sizing: border-box;
}

#squiggle1{
position: absolute;
width: 800px;
height: 130px;
top: 0;
right: 40px;
}

#squiggle2{
   position: absolute;
width: 700px;
height: 170px;
bottom: 0;
right: 220px; 
z-index: 100;
}
#top_left {
    width: 50%;
    position: relative;
}

#about_img_spacer {
    width: 100%;
    visibility: hidden;
    display: block;
}


#about_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


#title {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    width: 100%;
    height: 12%;
    padding-left: 65px;
    box-sizing: border-box;
}


#text{
     font-family: Mainstay;
   font-size: 45px;
   font-weight: 300;
    line-height: 100%;
    color: #C80253;
}

.star{
    width: 44px;
    height: 42px;
}

#top_right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top_right p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    width: 80%;
}


footer{
    width: 100%;
    height: 65vh;
    background-color: #0AB0B7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

#overlay{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 990;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
     top: 730px; 
}

#overlay img{
    width: 80px;
    height: 25px;

}


#left{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


#left img{
   width: 55%;
    height: 60%;

}


#middle1{
 display: flex;
    flex-direction: column;
    width: 15%;
    height:100%;
    justify-content: center;
    align-items: flex-start;

}
#middle2{
    display: flex;
    flex-direction: column;
    width: 15%;
    
    justify-content: flex-start;
    align-items: flex-start;


}



.footer_title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 7px;

}


.titles{
    color: white;
    font-family: Sinethar;
    font-size: 40px;
    margin-bottom: 0;

}
.footer_title img{
    width: 17px;
    height: 17px;
    align-self: flex-end;
    padding-bottom: 10px;
}

.social_container{

    display: flex;
    flex-direction: column;
    color: white;
    font-family: Montserrat;
    align-items: flex-start;
    justify-content: center;
}

.socials{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.socials p{
  font-weight: 600;
    font-size: 15px;
}


.icon{
    width: 25px;
    height: 25px;
}

#right{

 display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
}

#right_top_part{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: flex-start;
}

#community{

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30%;
    

}
#community #p1{

    font-family: Sinethar;
    font-size: 27px;
    margin: 0;
}

#community #p2{
    
    margin: 0;
     font-family: Montserrat;
     font-weight: 600;
    font-size: 15px;
}
#overlay_container{
    position: relative; 
    width: 100%;
    height: 100%;
}

#sizing{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10%;
   align-self: center;
   flex-wrap: wrap;
}