body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: Mainstay;
  src: url(fonts/mainstay/Mainstay.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Sinethar;
  src: url(fonts/sinethar/Sinethar.otf);
}

main {
  margin-top: 110px;
  width: 100%;
  display: flex;
  height: auto;
}

#left_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 25px;
}
#left_part {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#left_part p {
  font-family: Montserrat;
  color: #c80253;
  font-size: 35px;
  margin: 0 0 22px 0;
  text-align: center;
  width: 55%;
  font-weight: 600;
  align-self: center;
}

#right_part {
  width: 50%;
}

#right_part img {
  width: 100%;
  height: 100%;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: auto;
  align-self: center;
  margin-top: 30px;
}

#text {
  font-family: Mainstay;
  font-size: 45px;
  font-weight: 300;
  line-height: 100%;
  color: #c80253;
  margin-bottom: 15px;
}

.star {
  width: 44px;
  height: 42px;
  margin-top: 20px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 17px;
}

input,
textarea {
  border: none;
  border-radius: 14px;
  background-color: #d9d9d9;
  color: #5e5d5d;
  width: 100%;
  height: 35px;
  padding: 5px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bolder;
  font-family: Montserrat;
}

textarea {
  height: 230px;
}

#button {
  background-color: #0ab0b7;
  width: 95px;
  height: 40px;
  font-family: Montserrat;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 20px;
}

footer {
  width: 100%;
  height: 65vh;
  background-color: #0ab0b7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

#overlay {
  position: relative;
  width: 100%;
  height: auto;
}

#overlay img {
    margin-top: 470px;
  z-index: 10;
  position: relative;
}

#left {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#left img {
  width: 55%;
  height: 60%;
}

#middle1 {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
#middle2 {
  display: flex;
  flex-direction: column;
  width: 15%;

  justify-content: flex-start;
  align-items: flex-start;
}

.footer_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 7px;
}

.titles {
  color: white;
  font-family: Sinethar;
  font-size: 40px;
  margin-bottom: 0;
}
.footer_title img {
  width: 17px;
  height: 17px;
  align-self: flex-end;
  padding-bottom: 10px;
}

.social_container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Montserrat;
  align-items: flex-start;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.socials p {
  font-weight: 600;
  font-size: 15px;
}

.icon {
  width: 25px;
  height: 25px;
}

#right {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

#right_top_part {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: flex-start;
}

#community {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30%;
}
#community #p1 {
  font-family: Sinethar;
  font-size: 27px;
  margin: 0;
}

#community #p2 {
  margin: 0;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
}
#overlay_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#sizing {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10%;
  align-self: center;
  flex-wrap: wrap;
}
