body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@font-face{
    font-family: Mainstay;
    src:url(fonts/mainstay/Mainstay.ttf)
}
@font-face{
    font-family: Montserrat;
    src:url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}
@font-face {
    font-family: Sinethar;
    src: url(fonts/sinethar/Sinethar.otf);
}

#newsletter_section{
    width: 37vw;
    height:70vh;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing:border-box;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#X{
    width: 3.5%;
    height: 4%;
   top: 4%;
    right:4%;
    cursor: pointer;
    position: absolute;

}

#subscribe{
    font-family: Mainstay;
    margin: 0;
    font-size: 20px;
    font-weight: 580;
    color: #FA9BBF;
   
}
#subscribe2{
     width: 50%; 
     text-align: center;
     margin-top: 0;
     font-size: 1vw;
     
}

#sizing_div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    flex-wrap: wrap; 
}

main p{
    font-family: Montserrat;
    font-size: 1.05rem;
    font-weight: 600;
    color: #5E5D5D;
    
}

#title{
     display: flex;
    justify-content:center;
    align-items: center;
    gap: 3.7%;
  height: 15%;
  width: auto;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 70%;
  
}

#text{
     font-family: Mainstay;
   font-size: 3vw;
   font-weight: 300;
    line-height: 100%;
    color: #C80253;
    margin: 0;
}

.star{
    width: 3.2vw;
    height: 3.1vw;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 15px;
}

form p{
    margin: 0;
    align-self: flex-end;
    cursor: pointer;
}
input{
    border: none;
    border-radius: 14px;
    background-color: #D9D9D9;
    color: #5E5D5D;
    width: 100%;
    height: 43px;
    padding: 5px;
    padding-left: 10px;
    box-sizing: border-box;
   font-size: 17px;
   font-weight:bolder;
   font-family: Montserrat;

}

#button{
    background-color: #0AB0B7;
   width: 25%;
    height: 20%;
    font-family: Montserrat;
    color: white;
    border: none;
    border-radius: 10px;
     font-size: 1.1vw;
    font-weight: 500;
    box-sizing: border-box;
    white-space: nowrap;
}


#sizing_div1 p:nth-of-type(2){
    margin-bottom: 8px;
}

#checkbox{
    display: flex;
    width: 100%;
    gap: 7px;
   justify-content: flex-start;
   align-items: center;
   align-self: flex-start;

    
}

#checkbox input{
    width: 19px;
    height: 19px;
    border-radius: 10px;
}

#checkbox label, a{
    font-family: Montserrat;
    color: #5E5D5D;
    font-size: 13px;

}