body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@font-face{
    font-family: Mainstay;
    src:url(fonts/mainstay/Mainstay.ttf)
}
@font-face{
    font-family: Montserrat;
    src:url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}
@font-face {
    font-family: Sinethar;
    src: url(fonts/sinethar/Sinethar.otf);
}

#signup_section{
    width: 35vw;
    height: 82vh;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing:border-box;
    padding: 1.7%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
#X_signin{
    width: 3.5%;
    height: 3.5%;
   top: 4%;
    right:4%;
    cursor: pointer;
    position: absolute;

}
#sizing_div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    flex-wrap: wrap;
    
}

main p, a{
    font-family: Montserrat;
    font-size: 1.05rem;
    font-weight: 600;
    color: #5E5D5D;
    
}

a{
    font-weight: 570;
    font-size: 0.9rem;
}

#title{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 4.5%;
  height: 20%;
  width: auto;
 padding-bottom: 45px;
  box-sizing: border-box;
  width: 70%;
}

#text{
     font-family: Mainstay;
   font-size: 3vw;
   font-weight: 300;
    line-height: 100%;
    color: #C80253;
    margin: 0;
}

.star{
    width: 3.2vw;
    height: 3.1vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 17px;
}

form p{
    margin: 0;
    align-self: flex-end;
    cursor: pointer;
}
input{
    border: none;
    border-radius: 14px;
    background-color: #D9D9D9;
    color: #5E5D5D;
    width: 100%;
    height: 41px;
    padding: 5px;
    padding-left: 10px;
    box-sizing: border-box;
   font-size: 17px;
   font-weight:bolder;
   font-family: Montserrat;

}

#button{
    background-color: #0AB0B7;
    width: 22%;
    height: 11%;
    font-family: Montserrat;
    color: white;
    border: none;
    border-radius: 12px;
     font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
}

#sizing_div1 p{
    margin-bottom: 8px;
}

#button:hover{
    background-color: white;
    color: #C80253;
    border: #C80253 solid 2px;
    width: 23%;
}

a:hover{
    color: #C80253;
}